<html>
    <head>
         <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
         <link rel="stylesheet" type="text/css" href="/stylesheet.css">
    </head>
    <div class="ui inverted menu">
        <div class='ui container'>
            <div class="item header"><i class="blogger b icon"></i>  Blog Site</div>
            <a class="item" href="/">Home</a>
            <a class="item"  href="/blogs/new">New Post</a>
        </div>
    </div>
    <body>
       